<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pgyer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>pgyer</name><js-module name="pgyer" src="www/pgyer.js"><clobbers target="cordova.plugins.pgyer" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="pgyer"><param name="android-package" value="cordova-plugin-pgyer.pgyer" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/pgyer.java" target-dir="src/cordova-plugin-pgyer/pgyer" /></platform></plugin>